/* Use this for styling, includes fonts and colors*/

body {
    font-family: 'Single Day', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* For smooth scrolling */
}

header, footer {
    /* Add styles for your header */
    .topbarContainer{
        height: 145px;
        width: 100%;
        background-color: #FFE382;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    
    .topbarLeft{
        flex: 3;
        font-size: 60px;
        display: flex;
        margin-left: 50px;
    }
    
    .topbarImg{
        width: 100px;
        height: 100px;
        margin-right: 50px;
        margin-left: 20px;
    }

    .logo{
        font-size: 55px;
        margin-right: 180px;
        align-items: end;
        color:black;
    }
    
    
    .topbarLink{
        margin-right: 50px;
        font-size: 30px;
        cursor: pointer;
    }
    
}

main {
    /* Add styles for your main content area */
    .topMain{
        padding-top: 130px;
        margin-left: 160px;
        margin-top: 100px;
    }

    .title{
        text-align: justify;
        font-size: 70px;
        color: #FF935D;
    }

    .descWrapper{
        width: 800px;
        height: 70px;
    }

    .desc{
        text-align: justify;
        font-size:35px;
        margin-top: 30px;
    }
    
    .bananaImage{
        width:350px;
        height: 350px;
        margin-top: -200px;
        margin-left: 1200px;
    }
    
    .scroll-wrapper {
        width: 100%;
        overflow: hidden;
      }
      
      .scroll-container {
        padding-top: 150px;
        padding-bottom: 150px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        height: 460px; /* Adjust as needed */
      }
      
      .scroll-content {
        display: inline-block;
      }
      
      .item {
        display: inline-block;
        text-align: center;
        border-radius: 10%;
        width: 450px; /* Adjust as needed */
        height: 450px; /* Adjust as needed */
        background-color: #FFE382;
        margin-right: 50px; /* Adjust spacing between items */
      }

      .scroll-container::-webkit-scrollbar {
        display: none;
      }
      
}

footer {
    /* Add styles for the footer, not needed right now. Delete this later. */
}

.scrollable-div {
    height: 500px; /* Can change the height */
    overflow-y: scroll; /* Adds a scrollbar if the content overflows */
    
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background-color: #FFF3C7;
}

::-webkit-scrollbar-thumb{
    background-color: #FFE382
}
